@charset "utf-8";
/* CSS for profile.php */


.p-list {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 1em;
	list-style-type: none;
 	margin: 0;
  	padding: 0;
	color: #6A6A6B;
}


/* header */
.p-header {
	width: 100%;
	background-color: #ED5657;
	padding: 10px 0px;
	float: left;
}

.p-logoContainer {
	float: left;
	height: 45px;
	margin: 10px 0px 0px 10%;
}

.p-logo {
	width: 150px;
}

.p-NavIconsContainer {
	float: right;
	margin: 0px 10% 0px 0px;
}

.p-NavIcons {
	list-style: none;;
	display: inline;
	width: 50px;
}

.p-IconLeft {
	width: 45px;
	padding: 0px 30px 0px 0px;
}

.p-IconMiddle {
	width: 45px;
}

.p-IconRight {
	width: 45px;
	padding: 0px 0px 0px 30px
}

/* --- */

/* Footer */
footer {
	background-color: #ED5657;
	float: left;
	margin: 50px 0px 0px 0px;
	text-decoration: none;
}

	.p-FooterContainer {
		text-align: center;
		
}

.p-NavIcons {
	text-align: center;
	list-style: none;;
	display: inline;
	width: 50px;
}
	
.p-socialmedia {
	width: 50px;
}

.p-footer {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	padding: 0px 0px 15px 0px;
	text-decoration: none;
}

.p-AboutUs {
	text-decoration: none;
}

/* --- */

/* --------------*/
/* --------------*/
/* Drop Down Nav */
/* --------------*/
/* --------------*/	
	.p-settingsIcon {
		width: 50px;
	}	
	
.p-dropbtn {
  background-color: #ED5657;
  border: none;
  width: 45px;
  padding: 0px 0px 0px 30px;
 
}

.p-dropdown {
  position: relative;
  display: inline-block;
	float: right;
}

.p-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
}

.p-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.p-dropdown-content a:hover {background-color: #ddd;}

.p-dropdown:hover .p-dropdown-content {display: block;}
/* --------------*/
/* --------------*/
/* End of Drop Down Nav */
/* --------------*/
/* --------------*/	

/* Desktop */
@media only screen and (min-width: 1025px) {

	.p-hamburger {
		display: none;
	}
	
	.p-profilePic {
		width: 50%;
		float: left;
		align-content: center;
	}
	
	.p-img {
		border-radius: 50%;
		width: 400px;
		
	}	
	.p-profileinfo {
		width: 80%;
		margin: 50px 10% 0px 10%;
		padding: 50px 0px 0px 0px;
		overflow: hidden;
	}
	
	.p-PersonalInfo {
		width: 80%;
		margin: 50px 10% 0px 10%;
		overflow: hidden;
	}
	
	.p-side {
		width: 50%;
		float: left;
	}
	

	.p-bio {
		width: 50%;
		float: left;
	}

	.p-info {
		width: 100%;
	}
	
	.p-moreinfo {
		width: 100%;
		float: left;
	}	
	
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 1024px) {

	.p-hamburger {
		display: none;
	}
	
	.p-profilePic {
		width: 50%;
		float: left;
		align-content: center;
	}
	
	.p-img {
		border-radius: 50%;
		width: 90%;
		
	}	
	.p-profileinfo {
		width: 80%;
		margin: 0px 10% 0px 10%;
		padding: 50px 0px 0px 0px;
		overflow: hidden;
	}
	
	.p-PersonalInfo {
		width: 80%;
		margin: 50px 10% 0px 10%;
		overflow: hidden;
	}

	.p-side {
		width: 50%;
		float: left;
	}
	
	.p-bio {
		width: 50%;
		float: left;
	}

	.p-info {
		width: 100%;
	}
	
	.p-moreinfo {
		width: 100%;
		float: left;
	}
	
	.p-button1 {
		border-radius: 20px;
		color: white;
		background-color: #ED5657;
		padding: 15px 0px;
		width: 160px;
		border: none;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
}

	.p-button2 {
		border-radius: 20px;
		color: #ED5657;
		background: white;
		padding: 10px 0px;
		width: 160px;
		border-color: #ED5657;
		border-width: 5px;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		margin: 10px 0px 0px 0px;
	}
	.p-buttons {
		text-align: center;
	}
	
	.p-list {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 1em;
	list-style-type: none;
 	margin: 0;	
}
	.p-PersonalInfo {
		margin: 0px 10%;
	}
	
	.p-AboutUs {
		white-space:nowrap;
		padding: 20px 0px 0px 0px;
	}
	
}

/* Phone */
@media only screen and (max-width: 699px) {
	
	
/* --------------*/
/* --------------*/
/* Drop Down Nav */
/* --------------*/
/* --------------*/	
	.p-dropdown {
		display: none;
	}
	
	.p-dropbtn {
		display: none;
	}
/* --------------*/
/* --------------*/
/* Drop Down Nav */
/* --------------*/
/* --------------*/		
	
	.p-hamburger {
		width: 55px;
		margin: -10px 0px 0px 0px;
		float: right;
	}
	
	.p-IconLeft {
		display: none;
	}
	.p-IconMiddle {
		display: none;
	}
	.p-IconRight {
		display: none;
	}
	
	.p-img {
		border-radius: 50%;
		width: 100%;
	}	
	
	.p-profilePic {
		width: 100%;
		align-content: center;
		margin: 50px 0px 0px 0px;
	}
	
	.p-profileinfo {
		width: 80%;
		margin: 50px 10% 0px 10%;
		overflow: hidden;
	}

	.p-bio {
		width: 100%;
		float: left;	
	}

	.p-button1 {
		border-radius: 20px;
		color: white;
		background-color: #ED5657;
		padding: 15px 0px;
		width: 160px;
		border: none;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		margin: 0px 0px 10px 0px;
}

	.p-button2 {
		border-radius: 20px;
		color: #ED5657;
		background: white;
		padding: 10px 0px;
		width: 160px;
		border-color: #ED5657;
		border-width: 5px;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		margin: 10px 0px 0px 0px;
	}
	
	.p-buttons {
		text-align: center;
	}
	
	.p-list {
		font-family: 'Poppins', sans-serif;
		font-weight: 200;
		font-size: 1em;
		list-style-type: none;
		margin: 0;	
	}
	.p-PersonalInfo {
		margin: 0px 10%;
	}
	
	.p-AboutUs {
		white-space:nowrap;
		padding: 20px 0px 0px 0px;
	}
}